BasedOnStyle: LLVM
Language: Cpp

AccessModifierOffset: -4
IndentWidth: 4
UseTab: Never

AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: AfterHash
PointerAlignment: Left
NamespaceIndentation: All

BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent