BasedOnStyle: LLVM
Language: Cpp

ColumnLimit: 120

AccessModifierOffset: -4
IndentWidth: 4
UseTab: Never

AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: AfterHash
PointerAlignment: Left
NamespaceIndentation: All